


@font-face {
    font-family: Tenor_regular;
    src: url(TenorSans-Regular.ttf);
    font-weight: 400;
}
*{
    font-family: arial;
    box-sizing: border-box;
}

.generic_negative_margin{
    margin-top: -120px;
    margin-bottom: 100px;
}

.generic_border{
    border:2px solid black
}


.full_cart{
    background-color: white;
    height:100%;
    width:100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index:-1;
    opacity:0;
    transition: 0.3s;

    .price_tag{
        color: orange;
        font-size: 16px;
    
    }
    .price{
        font-size: 16px;
    }
    

    i{
        border-radius: 50%;
        border: 1px solid black;
        padding:3px;
        padding-right:4px ;
        height:23px;
    }


     
    .colored_div{
        background-color: black;
        padding:2px;
        width:18px;
        height:18px;
        border-radius: 50%;
        cursor: pointer;
    
    }
    .colored_div:nth-child(2){
        background-color: orange;
        

    }
    .colored_div:last-child{
        background-color: lightgrey;
    }

    .size_div{
        color: black;
        width:21px;
        height:21px;
        padding-top: 1px;
        font-size: 12px;
        text-align: center;
        font-weight: 400;
        border-radius: 50%;
        border:1px solid black;
        background-color: white;
        cursor: pointer;
    }

    .selected_size{
        background-color: black;
        color: white;
    }

    
 
    
    .upper_section{
        width: fit-content;
    }
    .middle_section{
        background-color: white;
        margin-bottom: 130px;
        position: relative;
        img{
            width: 130px;
            height: 156px;

        }
    }


    .close_sign{
        cursor: pointer;
    }

    h5{
        font-family:Tenor_regular;
        color: black;
    }

    .third_section{
        position:static;
        h5{
            color:white;
        }
        .cart_div{
            background-color: black;

        }
    }

    .float{
        background-color:white;
        display:none;
        transition: 0.3s;
        position: absolute;
        top:0%;
        width: 100%;
        height:265%;
        left:0%;
        opacity:1;
        z-index: 1;
        
    }
    
}

header{
    padding:0 100px;
    width: 100%;
    height: 80px;
    margin:0;


    .cart_div{
        cursor: pointer;
    }

    
    

    background-color:white;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul li{
        list-style-type: none;
        width:100%;
        
    }
    nav ul{
        display: flex;
        justify-content: start;
    }
   .nav-button{
    text-align: start;
    
    width: 100%;
    overflow:hidden;
   }

    

    nav .drop-down {
  list-style: none; 
  overflow: hidden; 
  height: 172px; 
  background-color: white;
  font-family: Arial;
  width: 200px;
  margin-left: 70px;
  padding: 0;
  text-align: center;
  -webkit-transition: height 0.3s ease;
          transition: height 0.3s ease;
}

nav .drop-down.closed {
  
  height: 43px;
}


nav .drop-down li a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 10px; /* Larger touch target area */
}

nav .drop-down li:first-child a:after {
  content: "\2304";
  float:right;
  margin-left: 50px;
  
}


    .hamburger_toggler{
        display: block;
        cursor:pointer;
    }

    .icons_wrapper{
        display: flex;
        flex-direction: row-reverse;
        
    }
}

.page_logo{
    width: fit-content;
    height:60px;
}


.central_carousel{
    position: relative;
    display: block;
    .carousel_item{
        background-color:lightgrey;
        display:none;
        

    }
    .carousel_selected{
        display:inline;
        
    }
    .carousel_nav{
        position:absolute;
        bottom:-20px;
        left:0px;
        width:100%;
        display: flex;
        justify-content: center;
    }
    .carousel_nav span{
        background-color: rgba(234, 230, 230, 0.9);
        width:10px;
        height:10px;
        border-radius: 50%;
        display: inline-block;
    }
}


.description_section{
    width: 100%;
    background-color: white;
    justify-content: center;
    
    

    h5{
        font-family: Tenor_regular;
    }

    span{
        font-size: 14px;
    }
    

    p{
        color:darkgray;
        font-size: 17px;
    }
    
    .price_tag{
        color: orange;
        font-size: 16px;
    
    }
    .price{
        font-size: 16px;
    }
    
    .colored_div{
        background-color: black;
        padding:2px;
        width:18px;
        height:18px;
        border-radius: 50%;
        cursor: pointer;
    
    }
    .colored_div:nth-child(2){
        background-color: orange;
        

    }
    .colored_div:last-child{
        background-color: lightgrey;
    }

    .size_div{
        color: black;
        width:21px;
        height:21px;
        padding-top: 1px;
        font-size: 12px;
        text-align: center;
        font-weight: 400;
        border-radius: 50%;
        border:1px solid black;
        background-color: white;
        cursor: pointer;
    }

    .selected_size{
        background-color: black;
        color: white;
    }

   
    

}

.third_section{
    background-color: black;
    color: white;
    position: relative;
    

    .special{
        font-size:14px;
    }
    
}

.floater{
    background-color:black;
    display:none;
    transition: 0.3s;
    position: absolute;
    top:0%;
    width: 100%;
    left:0%;
    
    
    
    

    .increment_price{
        
        color: white;
        border: 1px solid white;
        background-color: black;
        border-radius: 50%;
        font-size: 16px;
        padding-top: 3px;
        padding-left: 3px;
        padding-right: 3px;
        padding-bottom: 3px;
        height: 23px;

    }

    .decrement_price{
        font-size: 16px;
        
        border: 1px solid white;
        background-color: black;
        border-radius: 50%;
        padding: 3px;
        height: 23px;
        color:white

    }

    .product_count{
        color: white;
    }
}





















@media (max-width:900px){
    .hamburger_toggler{
        display:block;
        margin-bottom: 10px;
    }
    .page_logo{
        margin-top: 5px;
    }

    .hamburger_line{
        background-color:black;
        color:white;
        width:27px;
        margin-top: 4px;
        height:2px;
    }

    nav {
        position: absolute;
        height:0;
        top: 80px;
        width:100vw;
        left: 0px;
        right:0px;
        transition: 0.3s;
        background-color:white;
        opacity:0;
    }
    

    nav.active{
        height:140%;
        opacity:1;
        z-index: 100;
    }

    nav ul{
        flex-direction: column;
        align-items: start;
        margin-top: 10px;
    }
    .hamburger_line:nth-child(2){
        width:21px;
    }

    header{
        padding:0px 80px;
        flex-direction: row-reverse;
        
    }
    .description_section{
        justify-content: start;
        padding-left: 6rem;
    }
    .aligner{
        width: 460px;
    }

    .child_wrapper{
      column-gap: 19px;  
    }
}